<div class="fondo">
	<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/login.css" />
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3 logoLogin">
				<img class="col-6 offset-3 logo" src="../assets/img/logo.PNG">
			</div>
		</div>
		<div class="row">
			<div class="contenedor col-6 offset-3">
				<div class="row">
					<input ng-model="login.user.username" id="primerInput" class="col-6 offset-3 inputLogin" placeholder="Usuario">
					<input ng-model="login.user.password" class="col-6 offset-3 inputLogin" placeholder="Contraseña">
					<button ng-click="login.startSesion(login.user)" id="botonLogin" class="col-6 offset-3">Iniciar Sesión</button>

				</div>
				<div class="row">
					<a id="labelLogin" class="col-8 offset-2">Olvidé mi contraseña</a>
				</div>
			</div>
		</div>
	</div>
</div>